@mixin content() {
  visibility: collapse;
  position: absolute;
  background-color: #555;
  min-width: 120px;
  max-height: 0px;
  font-weight: 600;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  a {
    padding: 12px 16px;
    display: block;
    opacity: 0.4;
    &:hover {
      background-color: $hover;
      opacity: 1;
    }
  }
}
.dropbtn {
  padding: 18px 0 18px 0;
}
.dropdown-content {
  @include content();
}
.dropdown {
  display: inline-block;
  &:hover {
    .dropdown-content {
      visibility: visible;
      max-height: 250px;
      transition: max-height 0.2s;
    }
    .dropbtn {
      opacity: 1;
    }
  }
}
.dropupbtn {
  margin-top: 12px;
}
.dropup-content {
  bottom: 50px;
  @include content();
}
.dropup {
  height: 100%;
  display: inline-block;
  &:hover {
    .dropup-content {
      visibility: visible;
      max-height: 250px;
      transition: max-height 0.2s;
    }
    .dropupbtn {
      opacity: 1;
    }
  }
}
