@mixin content() {
  display: none;
  position: absolute;
  background-color: #555;
  min-width: 120px;
  font-weight: 600;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    opacity: 0.4;
    &:hover {
      background-color: $hover;
      opacity: 1;
    }
  }
}
.dropbtn {
  padding: 18px 0 18px 0;
}
.dropdown {
  position: relative;
  display: inline-block;
  &:hover {
    .dropdown-content {
      display: block;
      //animation: slide 2s ease-in-out;
    }
    .dropbtn {
      opacity: 1;
    }
  }
}
.dropdown-content {
  @include content();
}
.dropupbtn {
  color: white;
  margin-top: 12px;
}
.dropup {
  height: 100%;
  position: relative;
  display: inline-block;
  &:hover {
    .dropup-content {
      display: block;
    }
    .dropupbtn {
      opacity: 1;
    }
  }
}
.dropup-content {
  bottom: 50px;
  @include content();
}
